.white-button {
    transition: transform 1.5s;
}

.white-button:hover {
    transform: scale(1.1)
    
}
.white-button a{
    transition: transform 1.5s;
}

.white-button a:hover {
    transform: scale(1.1)
}